.about-us {
  padding-top: 45px;
  padding-bottom: 20px;
}

.about-us__title {
  margin: 0;
}

@media (min-width: @tablet-width) {
  .about-us {
    padding-top: 80px;
  }

  .about-us__title {
    margin: 10px 0;
  }
}

@media (min-width: @desktop-width) {
  .about-us {
    padding: 60px 225px;
  }

  .about-us__title {
    font-size: 53px;
    line-height: 57px;
  }
}
