.catalog-list__item {
  border-bottom: 1px solid @color-border;
}

.catalog-list__link {
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: @font-color-dark;
  text-decoration: none;
}

.catalog-list__item-price {
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  color: @font-color-dark;
}
