.inner-title {
  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
  color: @font-color-dark;
  text-align: center;
  margin: 0 auto;
  min-width: 320px;
  max-width: 1150px;
  min-height: 178px;
  padding: 74px 30px;
}

@media (min-width: @tablet-width) {
  .inner-title {
    padding: 12px 30px 88px;
    font-weight: bold;
    font-size: 43px;
    line-height: 50px;
    min-height: 150px;
  }
}

@media (min-width: @desktop-width) {
  .inner-title {
    padding: 14px 30px 116px;
    min-height: 178px;
    font-size: 53px;
    line-height: 57px;
    background-size: 100%;
  }
}
