.logo {
  display: inline-block;
  width: 86px;
  margin: 22px 63px 17px 86px;
}

@media (min-width: @tablet-width) {
  .logo {
    margin: 0 0 0 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}

@media (min-width: @desktop-width) {
  .logo {
    order: 2;
    margin: 0 50px;
  }
}
