.map {
  margin: 0 -30px;
  margin-bottom: 40px;
  height: 455px;
  background: burlywood;
}

.map__iframe {
  width: 100%;
  border: none;
}

@media (min-width: @tablet-width) {
  .map {
    margin: 0 -50px;
    margin-bottom: 55px;
  }
}

@media (min-width: @desktop-width) {
  .map {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: #f4e9d7;
    margin: 0;
  }
}
