.offers-list {
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: none;
}

.offers-list__link {
  text-decoration: none;
  color: @font-color-dark;
}

@media (min-width: @desktop-width) {
  .offers-list {
    display: flex;
    order: 4;
  }

}
