.offers-list {
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: none;
}

.offers-list__link {
  text-decoration: none;
  color: @font-color-dark;

  &:hover {
    color: @font-color-dark;
    text-decoration: none;
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: @desktop-width) {
  .offers-list {
    display: flex;
    order: 4;
  }

  .offers-list__item:nth-of-type(1) {
    margin-right: 60px;
  }

  .offers-list__link {
    display: block;
    padding: 19px 0 43px 0;
  }
}
