.optional-list {
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  list-style-type: none;
  margin: 0 -30px;
  padding: 0;
}

.optional-list__item {
  text-align: left;
  padding: 0;
  border-bottom: 1px solid @color-border;
}

.optional-list__link {
  display: block;
  text-decoration: none;
  padding: 29px 25px 25px 76px;
  color: @font-color-dark;
}

@media (min-width: @tablet-width) {
  .optional-list {
    display: flex;
    order: 1;
    margin: 0;
  }

  .optional-list__item {
    border: none;
  }

  .optional-list__link {
    display: block;
    text-decoration: none;
    color: @font-color-dark;
    border-left: 1px solid @color-border;
  }

  .optional-list__link-search {
    padding: 35px 32px 30px 32px;
    border-left: 1px solid @color-border;
    border-right: 1px solid @color-border;
  }

  .optional-list__link-cart {
    padding: 35px 0 30px 32px;

    svg {
      margin-right: 24px;
    }
  }

  .optional-list__item-search {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .optional-list {
    order: 3;
    justify-self: end;
  }
}
