.page-footer {
  padding: 0 30px;
  background: @bg-color-footer;
}

.page-footer__logo {
  display: none;
}

@media (min-width: @tablet-width) {
  .page-footer {
    padding: 50px;
    display: flex;
    justify-content: space-between;
  }

  .page-footer__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__logo {
    order: 1;
  }
}
