.promo {
  background: @bg-promo url("../img/bg-promo.jpg") no-repeat center center;
}

.promo__title {
  font-size: 27px;
  line-height: 30px;
  text-align: center;
}

.promo__link {
  color: @font-color-light;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  padding: 24px 160px 31px 30px;
  text-decoration: none;
  background: @bg-color-light;
}

.promo__link:nth-of-type(2) {
  background: @bg-color-dark;
}
