.reviews__wrapper {
  padding-top: 38px;
  padding-bottom: 45px;
}

.reviews__title {
  margin: 0;
}

.reviews__text {
  font-size: 15px;
  line-height: 30px;
  margin: 15px 0 33px;
}

.reviews__autor {
  margin: 0 0 33px 0;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: @font-color-dark;
}

.reviews__telegram {
  display: block;
  font-weight: normal;
  margin-top: 6px;
}

.reviews__buttons {
  display: flex;
  margin: 0 0 35px 0;
}

.reviews__button {
  height: 52px;
  width: 100%;
  background: @font-color-light;
  border: 1px solid @color-border;
}

.reviews__write {
  margin: 0;
}

@media (min-width: @tablet-width) {
  .reviews__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 83px;
    padding-bottom: 101px;
  }

  .reviews__text {
    width: 100%;
    order: 2;
    font-size: 17px;
    line-height: 30px;
    margin: 32px 0 64px;
  }

  .reviews__write {
    order: 1;
  }

  .reviews__autor {
    order: 3;
    font-size: 18px;
  }

  .reviews__buttons {
    width: 172px;
    order: 4;
  }
}

@media (min-width: @desktop-width) {
  .reviews__wrapper {
    padding-left: 225px;
    padding-top: 35px;
    padding-bottom: 180px;
  }

  .reviews__title {
    font-size: 53px;
    line-height: 57px;
  }

  .reviews__write {
    padding: 16px 37px;
  }

  .reviews__text {
    margin: 35px 0 45px;
    padding-right: 62px;
  }

  .reviews__autor {
    font-size: 17px;
  }
}
