.social-list {
  list-style-type: none;
  margin: 0;
  padding: 0 38px 20px;
  border-bottom: 1px solid @color-border;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.social-list__link {
  &:hover svg {
    fill: @color-svg;
  }

  &:active svg {
    opacity: 0.3;
  }
}


@media (min-width: @tablet-width) {
  .social-list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 180px;
  }
}

@media (min-width: @desktop-width) {
  .social-list {
    order: 2;
  }
}
