@font-color-dark: #000000;
@font-color-light: #FFFFFF;
@font-color-text: #444444;

@bg-color-light: #63D1BB;
@bg-color-dark: #56C3B2;
@bg-color-footer: #F1F1F1;
@bg-promo: #F9F9F9;
@color-border: #ECECEC;

// Viewports

@tablet-width: 768px;
@desktop-width: 1150px;
